:root {
  --primary-color: rgb(236, 236, 236);
  --secondary-color: rgb(21, 21, 21);
  --blue-color: #2bc5cd;
  --orange-color: #ff693d;
  --border: 5px solid var(--primary-color);
  --spacing: 28px; 
  font-family: Arial, Helvetica, sans-serif;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  height: 100%
}

/* Resto del CSS */
*{
  color: var(--primary-color);
  
}

.school {
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/d8ce469044b958508f4bdbab/blueschoolbackpackwithessentialsupplies_232148207678.jpg);
}

.student {
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/9e4ce16148dd5cbeb1065410/89f80abe-6acd-d8dc-a341-3e571206975b.jpg);
}

.time {
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/773a5aa425b1502aaac14708/f2b45624-c8f6-3aa0-0ee4-58adda3c89b0.jpg);
}

.alumni {
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/89993ff69c3e5244ad2bf1ba/blondestudentgirlissmilingholdingfoldernotebookherhandsuniversitybackground_101969664.jpg);
}
.body{
  border:solid 5px var(--border);
  height: 100%;
  margin: 10px;
  padding: 0;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15px;
  border: solid 15px gr;
  box-shadow: 15px 15px 15px 15px rgb(200, 192, 192);

}
.container{
  height: 100%
}

.alumni,
.school,
.student,
.time { 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;  
  overflow: auto;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: auto;
  height: auto;
  box-shadow: 15px rgb(200, 192, 192);
  
}

.alumni{
  grid-column-start: 0;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-bottom: 15px;

}

.header{
  overflow: auto;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: var(--blue-color);
  padding: 2%;
}
main{
  border: solid 1px var(--blue-color);
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
      
}
h2{
  text-align: center;
  color: var(--blue-color);

}

.footer{
  display: grid;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: var(--orange-color);
  padding: 2%;
  overflow: auto;
  background-size:contain no-repeat;
  background-position: center;
  text-align: left;
  margin-bottom: 15px;
  
}
.button{
  width: 150px;
  height: 30px;
  background-color: grey;
  border-radius: 5px;
}

@media (max-width: 600px) {

  body{
    display: block;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap:6px; 
    
  }
  .header{  
    width: 50vw;
    height: 300px;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 0;
    grid-row-end: 1;
  
    
  }
  .school{
    width: 50vw;
    height: 150px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .student{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 50vw;
    height: 146px;
  }
  .time{
    width: 50vw;
    height: 165px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .header{
    overflow: auto;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: var(--blue-color);
    padding: 2%;
  }

  h3{
    text-align: center;
    font-size: 15px;
    margin-bottom: -2vw;

  }
  .footer{
    font-size: 14px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: var(--orange-color);
    padding: 2%;
    overflow: auto;
    background-size:contain no-repeat;
    background-position: center;
    text-align: left;
    margin-bottom: 2vw;
    height: 150px;
    margin-top: -2vw;

    }

    main{
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
    }
    .alumni{
      width: 50vw;
      height: 165px;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 4;
      grid-row-end: 5;
    }
  } 